.content_mid {
    /* padding: 13px 11px; */
    /* box-shadow: 0 0 5px #5f5f5f; */
    border-radius: 5px;
    /* height: 455px; */
    background: #fff;
    /* text-overflow: ellipsis; */
    /* overflow: auto; */
}


.content_mid .text_content_mid {
    max-height: 100%;
}
<style>…</style>
.content_mid .text_content_mid {
    max-height: 470px;
}
.content_mid .text_content_mid {
    /* font-family: 'Roboto-Regular'; */
    font-size: 16px;
    font-style: italic;
    line-height: 25px;
    color: #333;
    min-height: 280px;
    /* overflow: auto; */
    max-height: 280px;
}
.sub_content {
    /* height: 404px; */
    overflow: auto;
}

.sub_content {
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 0 5px #5f5f5f;
    margin: 10px 0px;
    text-align: justify;
    font-size: 14px;
}
.list_news_khan {
    padding-top: 15px;
}

.list_news_khan li {
    list-style: none;
    float: left;
    clear: both;
    padding: 10px 5px!important;
    border-bottom: 1px solid #ccc!important;
    width: 100%!important;
    height: 130px!important;
}

.list_news_khan li {
    list-style: none;
    background: #fff!important;
    padding: 0px 15px!important;
    line-height: 32px;
    border: none!important;
    /* border-bottom: 1px solid #ccc!important; */
    font-size: 14px;
}
.sub_content ul li a {
    white-space: normal;
}

.list_news_khan a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    display: block;
    overflow: hidden;
    height: 50px;
}
.list_news_khan img {
    width: 30px;
    height: 30px;
    float: left;
    margin-right: 10px;
}
.list_news_khan li a p {
    line-height: 17px;
}

.list_news_khan li a p {
    overflow: hidden;
    line-height: 20px;
    height: 40px;
    margin-bottom: 15px;
}


.tab-content p {
    font-size: 15px;
    line-height: 2;
}
.sub_content p {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background: -webkit-linear-gradient(0deg, #053785b5 40%, #006CB6 100%);
    color: #fff;
}
.desc_news_khan {
    line-height: 23px;
    height: 45px;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: justify;
}


.name_ykien {
    margin-top: 20px;
}

.name_ykien {
    color: white;
    text-align: center;
    font-size: 14px;
}
.name_ykien {
    background: #0e7ab2;
    padding: 6px;
    border-radius: 7px;
    margin-right: 10px;
    margin-left: 10px;
}
.img_kc {
    padding: 10px;
}
#gallery {
    height: 320px !important;
}
.sub_content {
    /* height: 404px; */
    overflow: auto;
}
.sub_content {
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 0 5px #5f5f5f;
    margin: 10px 0px;
    text-align: justify;
    font-size: 14px;
}
.link_box_report {
    opacity: 1;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.link_box_report {
    color: #fff;
    display: block;
}
.box_dn3 {
    position: relative;
    margin-bottom: 0px;
    padding: 10px 0px;
}
.box_dn3:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.44);
}
.box_dn3 h3 {
    position: relative;
    z-index: 1;
}

.box_dn3 > h3 {
    border-bottom: 1px solid #fff;
    padding-bottom: 10px;
}
.box_diendan > h3 {
    text-align: center;
    text-transform: uppercase;
    /* border-bottom: 1px solid #fff; */
    /* padding-bottom: 5px; */
    /* min-height: 45px; */
    font-size: 16px;
    /* height: 53px; */
    line-height: 20px;
    font-weight: bold;
    /* margin-bottom: 15px; */
}
.box_dn3 h3 i {
    margin-right: 10px;
}
.sub_box_nd {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
    color: #fff;
    position: relative;
    z-index: 1;
}

.bd__bot {
    /* border-bottom: 1px dashed #fff; */
    margin-bottom: 7px;
}
.sub_box_nd b {
    font-size: 30px;
    display: block;
    width: 50%;
    float: left;
}
.sub_content span {
    margin-left: 10px;
    font-size: 15px;
    font-style: normal;
    font-weight: bold;
}

.sub_box_nd span {
    font-size: 16px;
    /* width: 50%; */
    float: right;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.list_report {
    float: left;
}
.list_report li {
    list-style: none;
    float: left;
    margin-right: 5px;
    /* margin-bottom: 15px; */
}
.tab-content p {
    font-size: 15px;
    line-height: 2;
}

.list_report p {
    font-size: 14px;
    font-family: OpenSansRegular;
    padding-top: 5px;
    margin-right: 5px;
}
.list_report li:nth-child(2) {
    max-width: 280px;
}
.list_report .btn {
    font-family: OpenSansBold_0;
    color: #fff;
}

.btn_excel {
    background: #71adc1;
}
.btn_w {
    background: #71c3d1;
}
.btn_pdf {
    background: #e77487;
}
.tab-content {
    background: #fff;
    height: 570px;
    overflow: inherit;
    /* display: none; */
}
.content{
	top: 0px;
}

.img_trongnuoc, .img_nuocngoai, .content, .content_2 {
     max-width: 100%; 
}
.menu-main h2{
	margin: 0px;
}

/* ====================  4 box_db ===================*/
.box_db-p1 {
    background: #339af0
  }
  .box_db-p2 {
    background: #49a34c
  }
  .box_db-p3 {
    background: #fd930b
  }
  .box_db-p4 {
    background: #e73f3c
  }

    .box_db h2 {
        font-size: 16px;
        font-weight: bold;
        margin: 10px 0px;
        text-align: right;
    }
    
    .box_db p i {
        font-size: 20px;
    }
    
    p.number {
        font-size: 35px;
        font-weight: bold;
        text-align: right;
        /*padding-bottom: 10px;
        border-bottom: 1px solid #ccc;*/
    }
    
    .box_db {
        margin-bottom: 0;
        background: url(../img/bg_min_2.png) no-repeat;
        background-size: 100% 100%;
        height: 140px;
        padding: 10px;
        color: #fff;
    }
    
    .progress {
        height: 6px;
    }

    .box_db>p:first-child{  
      position: absolute;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30%;
      height: 45%; 
      border-radius: 5px;
      top: -15px;
      left: 23px;}

    h3.header-top-title {
      margin-top: 5px;
      margin-bottom: 50px;
    }

    .box_db p i {
        font-size: 36px;
        text-align: center;
    }
    .box_db-title {
      float: right;
    }
    .box_db .box_db-title span {
      font-size: 25px;
    }
	p.number1 {
		font-size: 20px;
	}
    .wrap-map {
        padding: 15px;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    }
    .content-map {
        padding-top: 20px;
    }
    .progress-bar{
     background-color: #f19719;
    }


/* ============   end 4 box_db ==============*/